.audio-bar-outer {
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.bar-controls{
    display: flex;
    flex-direction: column;
}

.current-track-info {
    width: 400px;
}

.volume-controls {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 40px;
    width: 400px;
}

.volume-mute {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.control-top {
    display: flex;
    justify-content: center;
    font-size: large;
}

.control-bottom {
    display: flex;
    
}
 
.songBar {
    border-radius: 10px;
    position: relative;
    width: 40vw;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: grey;
}

.volume {
    appearance: none;
    border-radius: 10px;
    position: relative;
    width: 50vw;
    height: 5px;
    outline: none;
    background-color: grey;
}

.progressBar::before {
    content: '';   
    height: 8px;
    background-color: rgb(81, 93, 64);
    position: absolute;
    left: 0;
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;

}
