#side-bar{
    height: 100%;
    width: 20%;
    min-width: 15%;
    display: fixed;
    margin: 8px;
    color: lightgray;
}

#side-bar-top{
    margin: 8px;
    margin-top: 0px;
    border-radius: 8px;
    background-color: rgb(23, 23, 23);
    flex-direction: column;
}

#side-bar-top label{
    font-size: x-large;
    margin: 20px;
    margin-top: 0px;
    padding-top: 10px;
    display: flex;
}

#side-bar-top label input{
    background-color: black;
    border-radius: 7px;
    height: 20px;
    width: 50%;
}