

#home-page{
    width: 100%;
    height: 100%;
    border: 1px red solid;
    display: flex;
    flex-direction: column; 
}

#home-page-right{
    width:95%;
    min-width: 50%;
    height: 100%;
    border: 3px green solid;
}

#fixed-page{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    border: 1px lightcoral solid;
}

.resizer-bar{
    width: 6px;
    border: 1px lightcyan solid;
    height: 100%;
}

#homepage-display{
    height: inherit;
    width: auto;
    position: static;
    display: flex;
    align-items: column;
    z-index: -3;
}

.homepage-row{
    margin-top: 100px;
    display: static;
    height: 320px;
    min-height: 300px;
    width: 100%;
}