/* TODO Add site wide styles */
/* @import 'src\components\HeaderBar\HeaderBar.scss'; */

body{
    background-color: #181818;
    color: white;
    width: 100%;
    height: 500px;
    margin: 0px;
}

button{
    background-color: green
}

#header-bar{
    border-style: solid;
    border-color: red 5px;
    width: 100%;
    height: 30px;
}

#header-bar .log{
    float:right;
    margin-right: 30px;
    margin-top: 5px;
    justify-content: end;
    
}