.login-top-bar{
    background-color: black;
    width: 100%;
    height: 90px;
}

.login-page-submit{
    /* opacity: 50%;
    display: hidden; */
    font-family: "Spotify Circular";
    text-decoration: none;
    background-color: green;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 130px;
    border: 0px;
    border-radius: 36px;
    margin-top: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

#demo-login-button{
    padding: 14px 110px;
}

.login-page-submit:hover{
    padding: 16px 134px;
    margin-top: 26px;
}

#demo-login-button:hover{
    padding: 14px 114px;
    margin-top: 30px;
}

.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.outer-login-page{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner-login-page{
    margin-top: 20px;
    background-color: black;
    border-radius: 8px;
    width: 65%;
    text-align: center;
}
.inner-login-page label{
    text-align: left;
}

.inner-login-page input{
    background-color: black;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: solid grey 1px;
    color: white;
    font-size: medium;
}

.inner-login-page input:hover{
    border-radius: 5px;
    border: solid white 1px;
}

.greyText{
    color: grey;
}

.greyText :first-child{
    color: white;
}
.greyText :first-child:hover{
    color: green;
}

.login-error{
    background-color: rgb(189, 8, 8);
    align-content: center;
    width: 80%;
    height: 40px;
    text-align: left;
    vertical-align: middle;
    position: relative;
    left: 10%;
}
.login-error :first-child{
    margin-left: 25px;
    padding-top: 10px;
}

.login-header{
    margin-top: 40px;
    margin-bottom: 40px;
}

.grey-line{
    margin-top: 25px;
    position: relative;
    margin-bottom: 25px;
    height: 0px;
    width: 72%;
    border-top: 1px solid #1f1f1f;
    left: 14%
}